@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  *::-webkit-scrollbar {
    width: 0.5em;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

tr:nth-child(even) {
  @apply bg-neutral-200 dark:bg-neutral-900;
}
